<!--
<link rel="stylesheet/less" href="style.less" type="text/css" />
<script src="http://lesscss.googlecode.com/files/less-1.0.21.min.js"></script>
-->
<center>
  <h1>Electioneering</h1> <br />

  <%= render 'form' %>

</center>