<!DOCTYPE html>
<html>
<head>
  <title>Electioneering</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="hero-unit" id="body">
    <p>
      <%= yield %>
    </p>
  </div>

  <small>
    Ashutosh Goel - MongoDB, Python data scraping <br />
    Jeffrey Grimes - iOS <br />
    Theodore Guenin - front-end design in LESS and Photoshop <br />
    Max Scheiber - Ruby on Rails back-end
  </small>

</div>

</body>
</html>
