          <!DOCTYPE html>
<html>
<!--
<link rel="stylesheet/less" href="style.less" type="text/css" />
<script src="http://lesscss.googlecode.com/files/less-1.0.21.min.js"></script>
-->
<head>
  <title>Electioneering</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="hero-unit" id="body">
    <p>
      <%= yield %>
    </p>
  </div>

  <a href="/api" style="color:white; hover:white; visited:white;">Access our API</a> <br />

  <small>
  <font color="#ffffff">
    Ashu Goel - MongoDB, Python data scraping <br />
    Jeff Grimes - iOS <br />
    <a href="http://tedguenin.com" style="color:white; hover:white; visited:white;">Teddy Guenin</a> - front-end design in LESS and Photoshop <br />
    <a href="http://maxscheiber.com" style="color:white; hover:white; visited:white;">Max Scheiber</a> - Ruby on Rails back-end <br /> <br />
  </font>
  </small>

</div>

</body>
</html>
